@using test2301.Models
@model IEnumerable<ItemList>
@{
    ViewBag.Title = "Item List";
}

<h2>Index</h2>
<h1> @ViewBag.shopName</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>@data.ID</td>
                <td>@data.Name</td>
                <td>@data.Price</td>
                <td>@data.Category</td>
            </tr>
        }
    </tbody>
</table>
  

